@model Pligrimage.Web.Common.BootstrapModel

<div class="modal fade" id="@Model.ID" role="dialog" tabindex="-1" aria-labelledby="@Model.AreaLabeledId" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass @Model.ModalStyleClass" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

