
<div class="card card-cascade wider">
    <div class="view view-cascade gradient-card-header blue-gradient-rgba">
        <h2 class="card-header-title mb-3">بيانات حجاج زارة الدفاع </h2>
    </div>
    <div class="card-body card-body-cascade">
        <div class="k-rtl">
            @*<script id="ClassTypetemplate" type="text/kendo-temp">
                    @(Html.Kendo().DropDownList().Name("ClassType")
                                .DataTextField("DescArabic")
                                .DataValueField("ParameterId")
                                .BindTo((System.Collections.IEnumerable)ViewData["ClassTypeList"])


                    )
                </script>*@
@*             @(Html.Kendo().Grid<Pligrimage.Entities.AlhajjMaster>
                            ()
                            .Name("AlhajjMasterGrid")


                            .Columns(column =>
                            {

                                column.Bound(c => c.ServcieNumber).Title(" رقم العسكري").Width(150);
                                column.Bound(c => c.NIC).Title(" رقم المدني").Width(150);
                                column.Bound(c => c.Passport).Title(" رقم جواز السفر");
                                column.Bound(c => c.FullName).Title("الاسم بالكامل").Filterable(true);
                                column.Bound(c => c.DateOfBirth).Title("تاريخ الميلاد").Width(150).Format("{0:dd/MM/yyyy}");
                                column.Bound(c => c.WorkLocation).Title("موقع العمل").Hidden();
                                column.Bound(c => c.Region).Title("المحافظة");
                                column.Bound(c => c.WilayaDesc).Title("الولاية");
                                column.Bound(c => c.VillageDesc).Title("القرية");
                                column.Bound(c => c.GSM).Title("رقم الهاتف").Hidden();
                                column.Bound(c => c.NICExpire).Title("تاريخ انتهاء البطاقة الشخصية").Hidden();
                                column.Bound(c => c.PassportExpire).Title("تاريخ انتهاء جواز السفر").Hidden();
                                column.Bound(c => c.BloodGroup).Title("فصيلة الدم").Hidden();
                                column.Bound(c => c.DateOfEnlistment).Title("تاريخ الالتحاق بالخدمة العسكرية").Hidden();
                                column.Bound(c => c.ReletiveName1).Title("أقرب الاقربين أ").Hidden();
                                column.Bound(c => c.RelativeGsm1).Title("رقم الهاتف أ").Hidden();
                                //column.Bound(c => c.ReletiveCode1).Title("صلة القرابة").Hidden();
                                column.Bound(c => c.ReletiveName2).Title("أقرب الاقربين ب").Hidden();
                                column.Bound(c => c.RelativeGsm2).Title("رقم الهاتف ب").Hidden();
                                //column.Bound(c => c.ReletiveCode2).Title("صلة القرابة").Hidden();

                                column.ForeignKey(c => c.ParameterId, (System.Collections.IEnumerable)ViewData["ClassTypeList"], "ParameterId", "DescArabic").Title("نوع التصنيف").Width(200);
                                column.Bound(c => c.Unit.UnitNameAr).Title("السلاح").Width(300);

                                //column.ForeignKey(c => c.DocumentId, (System.Collections.IEnumerable)ViewData["DocumentList"], "DocumentId", "DocumnetType").Title("المرفقات").Width(200);
                                //column.ForeignKey(c => c.UnitId, (System.Collections.IEnumerable)ViewData["UnitList"], "UnitId", "UnitNameAr").Title("السلاح").Width(200);
                                //column.ForeignKey(c => c.UnitId, (System.Collections.IEnumerable)ViewData["ParameterList"], "Parameter", "UnitNameAr").Title("السلاح").Width(200);

                                column.Command(com =>
                                {
                                    com.Edit().UpdateText("حفظ").Text("تعديل").CancelText("إلغاء");
                                    com.Destroy().Text("حذف");
                                }).Width(200);
                            })

                            .HtmlAttributes(new { style = "height:500px" })
                            .ToolBar(toolbar =>
                            {
                                toolbar.ClientTemplate("<a class='k-button k-button-icontext ' href='"
                                    + Url.Action("Create", "AlhajjMasters") + "'>اضافة(وزارة الدفاع)" +
                                    "</a>" +
                                    "<a class='k-button k-button-icontext ' href='"
                                    + Url.Action("Create", "AlhajjAdmin") + "'>اضافة(الاداريين)" +
                                    "</a>" +
                                    "<a class='k-button k-button-icontext ' href='"
                                    + Url.Action("ImportExport", "Upload") + "'>اضافة(خارج وزارة الدفاع)</a>");

                            })

                            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Edit").Window(c => c.Resizable().Title("تعديل")))
                            .Scrollable()
                            .Sortable()
                            .Selectable()
                            .Filterable(f => f.Extra(false)
                                        .Operators(opertor => opertor
                                        .ForString(str => str.Clear()
                                        .Contains("يحتوي على"))))
                            .Pageable
                            (p => p
                            .ButtonCount(5)
                            .Refresh(true)
                            )
                            .DataSource
                            (dataSourec => dataSourec
                            .Ajax()

                            .Events(e =>  e.Error("Error_Handler"))
                            .Model(m =>
                            {
                                m.Id(i => i.PligrimageId);
                                m.Field(c => c.CategoryId).DefaultValue(1);
                            })

                            .Read(read => read.Action("AlhajjRead", "AlhajjMasters"))
                            .Create(create => create.Action("CreateAlhajj", "AlhajjMasters"))
                            .Update(update => update.Action("UpdateAlhajj", "AlhajjMasters"))
                            .Destroy(delete => delete.Action("DeleteAlhajj", "AlhajjMasters"))


                            )

            )
            
        </div>
    </div> *@
    <script>

        function Error_Handler(e) {
            //alert("dfsdfsd");
            console.log(e);
            if (e.errors) {
                var message = "Errors: \n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }


        };

    </script>







