@model Pligrimage.Entities.Parameter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescArabic" class="control-label"></label>
                <input asp-for="DescArabic" class="form-control" />
                <span asp-validation-for="DescArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescEnglish" class="control-label"></label>
                <input asp-for="DescEnglish" class="form-control" />
                <span asp-validation-for="DescEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxValue" class="control-label"></label>
                <input asp-for="MaxValue" class="form-control" />
                <span asp-validation-for="MaxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinValue" class="control-label"></label>
                <input asp-for="MinValue" class="form-control" />
                <span asp-validation-for="MinValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <input id="visitDate" name="VisitDate" class="form-control"
                   value="@(Model.UpdatedOn?.ToString("dd/MM/yyyy hh:mm tt").Replace("AM", "Morning").Replace("PM", "Evening") ?? "")"
                   placeholder="dd/mm/yyyy hh:mm" autocomplete="off" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
