
<div class="card card-cascade wider">
    <div class="view view-cascade gradient-card-header blue-gradient-rgba">
        <h2 class="card-header-title mb-3">قوائم الحجاج</h2>
    </div>
    <div class="card-body card-body-cascade">
        <div class="k-rtl">

       @*  @(Html.Kendo().Grid<Pligrimage.Entities.AlhajjMaster>
        ()
        .Name("AlhajjMasterGrid")
            //.ToolBar(tools => tools.Excel())
            .Columns(column =>
            {
                column.Bound(c => c.FullName).Title("الاسم بالكامل").Filterable(true).Width(150);
                column.Bound(c => c.ServcieNumber).Title(" رقم العسكري").Width(100);
                column.Bound(c => c.NIC).Title("الرقم المدني").Width(100);
                column.Bound(c => c.Region).Title("المحافظة").Width(100);
                column.ForeignKey(c => c.FitResult, (System.Collections.IEnumerable)ViewData["FitResult"], "ParameterId", "DescArabic").Title("حالة الفحص").Width(100);
                column.ForeignKey(c => c.ParameterId, (System.Collections.IEnumerable)ViewData["ClassTypeList"], "ParameterId", "DescArabic").Title("نوع التصنيف").Width(100);
                column.ForeignKey(c => c.UnitId, (System.Collections.IEnumerable)ViewData["ServiceList"], "UnitId", "UnitNameAr").Title(" اسم السلاح").Width(200);


                column.Command(com =>
                {
                    com.Custom("الاستبدال").Click("showDetails").Text("<span class='k-icon k-i-custom'></span>تفاصيل اضافية");
                    com.Edit().UpdateText("حفظ").Text("تعديل").CancelText("إلغاء");
                }).Width(200);
            })
            .ToolBar(toolbar =>
            {
                toolbar.ClientTemplateId("TypeTemplate");
            })

            .HtmlAttributes(new { style = "height:500px" })
            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Edit").Window(c => c.Resizable().Title("تعديل")))
            //.Excel(c => c
            //        .FileName("Flight.xlsx")
            //        .Filterable(true)
            //        .ProxyURL(Url.Action("Excel_Export_Save", "Passengers"))
            //)
            .Scrollable()
            .Sortable()
            .Groupable()
            .Selectable()
            .Filterable(f => f.Extra(false)
            .Operators(opertor => opertor
            .ForString(str => str.Clear()
            .Contains("يحتوي على"))))
            .Pageable

            (p => p
            .ButtonCount(10)
            .Refresh(true)
            )
            .DataSource
            (dataSourec => dataSourec
            .Ajax()

            .Events(events =>
            {
                events.Error("error_handler");
                events.RequestEnd("request_end");
            })
            .Model(m =>
            {
                m.Id(i => i.PligrimageId);
                m.Field(c => c.CategoryId).DefaultValue(1);
                m.Field(c => c.FitResult).Editable(false);
                m.Field(c => c.Unit.UnitId).Editable(false);
                m.Field(c => c.Unit.UnitNameAr).Editable(false);
            })
            .Read(read => read.Action("AlhajjRead", "AlhajjList"))
            .Update(update => update.Action("UpdateAlhajjType", "AlhajjList"))
            )) *@
@* 
            @(Html.Kendo()
                                                   .Window()
                                                   .Name("Details")
                                                   .Title("تفاصيل الاحتياط")
                                                   .Visible(false)
                                                   .Modal(true)
                                                   .Draggable(true)
                                                   .Width(300)
            ) *@




        </div>
    </div>



    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <h2>#= ReletiveName1 # #= RelativeGsm1  #</h2>
            <h2>#= ReletiveName2 # #= RelativeGsm2  #</h2>
        </div>
    </script>

    <script type="text/javascript">
        var detailsTemplate = kendo.template($("#template").html());

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var wnd = $("#Details").data("kendoWindow");

            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script>


    <script>

        function error_handler(e) {
            //alert("dfsdfsd");
            console.log(e);
            if (e.errors) {
                var message = "Errors: \n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        };

        function request_end(e) {

            if (e.type == "update") {
                alert("تم تحديث البيانات بنجاح");
            }
            //if (e.type == "create") {
            //    alert("تم حفظ البيانات بنجاح");

            //}
            //if (e.type == "delete") {
            //    alert("تم حذف البيانات بنجاح");

            //}
        }

    </script>


@*     <script id="TypeTemplate" type="text/x-kendo-template">
        <br />
        <div class="toolbar">
            <label class="type-label" for="UnitNameAr"> تصفيه حسب نوع السلاح</label>

            @(Html.Kendo().DropDownList()
                    .Name("UnitNameAr")
                    .Filter("contains")
                    .OptionLabel("كل الفئات")
                    .DataTextField("alhajjType")
                    .DataValueField("alhajjType")
                    .AutoBind(false)
                    .Events(e => e.Change("TypeChange"))
                    .HtmlAttributes(new { style = "width:350px;" })
                    .DataSource(ds =>
                    {
                        ds.Read("AlhajjType", "AlhajjList");

                    }).ToClientTemplate()
            )

        </div>
        <br />

    </script>
 *@
    <script type="text/javascript">

        function TypeChange() {

            var typeName = this.value(),

                grid = $("#AlhajjMasterGrid").data("kendoGrid");
            if (typeName) {
                grid.dataSource.filter({ field: "Unit.UnitNameAr", operator: "eq", value: typeName });
            }
            else {
                grid.dataSource.filter({});
            }
        }

    </script>

    <script id="TypeTemplate" type="text/x-kendo-template">
        <div class="refreshbtnContainer">
            <a href="\\#" class="k-pager-refresh k-link button k-button-icon" title="Refresh"><span class="k-button-icon k-i-reload"></span></a>
        </div>
    </script>




    <style>
        .k-grid .k-grid-header {
            border-color: #dde2e7;
            color: #212529;
            background-color: #f8f9fa;
            font-weight: bold;
        }
    </style>
