@*<style>
    .k-grid{
        /*font-family:Arial,sans-serif;*/
    }
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap
    {
        display:none;
    }
    </style>*@


<div class="card card-cascade wider">
    <div class="view view-cascade gradient-card-header blue-gradient-rgba">
        <h2 class="card-header-title mb-3">توزيع الحجاج </h2>
    </div>
    <div class="card-body card-body-cascade">

        <div class=" k-rtl">
            @* @(Html.Kendo().Grid<Pligrimage.Entities.Passenger>
                                    ()
                                    .Name("AlhajjGrid")
                                    .Columns(column =>
                                    {

                                        column.Bound(c => c.Flight.FlightNo).Title("رقم الرحلة");
                                        column.Bound(c => c.Flight.Parameter.DescArabic).Title("ذهاب/عودة");                                     
                                        column.Bound(c => c.Buses.BusNo).Title("رقم الباص");
                                        column.Bound(c => c.AlhajjMaster.ServcieNumber).Title("الرقم العسكري");
                                        column.Bound(c => c.AlhajjMaster.FullName).Title("الاسم");

                                        column.Command(com =>
                                        {
                                            com.Edit().UpdateText("حفظ").Text("تعديل").CancelText("إلغاء").HtmlAttributes(new { type = "button", @class = "btn-basic ", });
                                        }).Width(200);

                                    })
                                    .PersistSelection(true)
                                    .ToolBar(c => c.Custom().Name("Save").Text(" توزيع الحجاج على الرحلات الذهاب").IconClass("save").HtmlAttributes(new { onclick = "CreateAlhajjFlightDepat()" }))
                                    .ToolBar(d => d.Custom().Name("Save").Text(" توزيع الحجاج على الرحلات العودة").IconClass("save").HtmlAttributes(new { onclick = "CreateAlhajjFlightReturn()" })
                                    )
                                    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Edit"))
                                    .DataSource
                                    (ds => ds
                                    .Ajax()
                                    //.Events(e => e.Change("onChange"))
                                    .Model(m =>
                                    {
                                        m.Id(i => i.PassengerId);
                                        m.Field(c => c.PligrimageId).DefaultValue(1);
                                    })
                                    .Read(read => read.Action("PassengerRead", "Passengers"))
                                    .Update(update => update.Action("UpdatePassenger", "Passengers"))

                                    )
                                    .Scrollable(c => c.Height("800px"))
                                    .Pageable(pageable => pageable
                                    .Messages(
                                    m => m.ItemsPerPage("مدخل للصفحة")
                                    .Display("إظهار {0} إلى {1} من أصل {2} مُدخل")
                                    ))
                                    .Sortable()
                                    .Groupable()
                                    .Selectable()
                                    .Filterable(f => f.Extra(false)
                                    .Operators(opertor => opertor
                                    .ForString(str => str.Clear()
                                    .Contains("يحتوي على"))))
                                    .Pageable
                                    (p => p
                                    .ButtonCount(3)
                                    .Refresh(true)

                                    ))

         
 *@

        </div>

    </div>

</div>





<script>
        function FilterFlights() {
            return {
                FlightId: $("#Flights").val()
            };

        }
        function CreateAlhajjFlightDepat(e)
        {
            var List = []
            var griddata = $("#AlhajjGrid").data("kendoGrid");

            var rows = griddata.select();
            rows.each(function (e) {
            var dataItem = griddata.dataItem(this);
            console.log(dataItem);
            List.push(dataItem);
            });


            var alhajList = JSON.stringify({ EmployeeList: List });


            $.ajax({
            type: "POST",
            url: "@Url.Action("AlhajjFlightDepart", "Passengers")",
            dataType:"Json",
            contentType: false,
            processData: false,
            success: function (response) {
            alert("تم توزيع البيانات بنجاح");

            $('#AlhajjGrid').data('kendoGrid').dataSource.read();
            $('#AlhajjGrid').data('kendoGrid').refresh();

            },
                error: function (e) {
                    console.log(e)
                    if (e.status == 200) {
                        alert("تم توزيع البيانات بنجاح");

                        $('#AlhajjGrid').data('kendoGrid').dataSource.read();
                        $('#AlhajjGrid').data('kendoGrid').refresh();

                    }
                    else {
                        alert("erorr");

                    }
            }
            });

    };


        function CreateAlhajjFlightReturn(e)
        {
        var List = []
        var griddata = $("#AlhajjGrid").data("kendoGrid");

        var rows = griddata.select();
        rows.each(function (e) {
            var dataItem = griddata.dataItem(this);
            console.log(dataItem);
            List.push(dataItem);
            });


        var alhajList = JSON.stringify({ EmployeeList: List });


             $.ajax({
            type: "POST",
            url: "@Url.Action("AlhajjFlightReturn", "Passengers")",
            dataType:"Json",
            contentType: false,
            processData: false,
            success: function (response) {
                alert("تم توزيع البيانات بنجاح");
                $('#AlhajjGrid').data('kendoGrid').dataSource.read();
                $('#AlhajjGrid').data('kendoGrid').refresh();


            },
            error: function (e) {

                alert(e.responseText);
            }
        });
    };



</script>

@*<script>
    function onChange(e) {
        if (e.action=="itemchange") {
            if (e.field =="FlightId") {
                var model = e.items[0];
                model.set("BusId",0)
            }
        }

        function GetEditModel() {
            var grid = $("#AlhajjGrid").data("kendoGrid");
            var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
            return grid.dataItem(editRow)
        }  

        function filterFlight() {
            var model = GetEditModel();
            return {
                FlightId: model.FlightId
            };
        }


        function filterBus() {
            var model = GetEditModel();
            return {
                BusId: model.BusId
            };
        }
    }

</script>*@







<style>
    .k-grid .k-grid-header {
        border-color: #dde2e7;
        color: #212529;
        background-color: #f8f9fa;
        font-weight: bold;
    }
</style>
